<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Form</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    />
    <link rel="shortcut icon" href="#" />
  </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h1 class="display-5">DAS Emotion Analysis</h1>
          <form id="form">
            <div class="mb-3">
              <label for="textArea" class="form-label">Sentence</label>
              <textarea
                class="form-control"
                id="text"
                rows="3"
                placeholder="Enter text here"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Result</h5>
              <table class="table table-bordered">
                <tr>
                  <th>Emotion</th>
                  <th>Value</th>
                </tr>
                <tr>
                  <td>Anxiety</td>
                  <td id="anxiety"></td>
                </tr>
                <tr>
                  <td>Depression</td>
                  <td id="depression"></td>
                </tr>
                <tr>
                  <td>Stress</td>
                  <td id="stress"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      document
        .getElementById("form")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          var user_input = document.getElementById("text").value;

          fetch("/api/analyze", {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
            body: "text=" + user_input,
          })
            .then((response) => response.json())
            .then((data) => {
              document.getElementById("anxiety").textContent = data.anxiety;
              document.getElementById("depression").textContent =
                data.depression;
              document.getElementById("stress").textContent = data.stress;
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        });
    </script>
  </body>
</html>
